<!DOCTYPE html>
<head>
    <title>CRUD OPERATION WITH POSTGRESQL</title>
</head>
<body>
    <center>
        <h1>HOSPITAL MANAGEMENT SYSTEM</h1>
        <h3>WRITTEN BY GROUP 4</h3>
        <hr/>
        <a href = "{% url 'insertemp' %}">Create New Doctor</a>
        <a href = "{% url 'insertpatient' %}">Create New Patient</a>
        <table border="1">
            <h3>DOCTOR TABLE</h3>

            <tr>
            <tr>
                <th>ID</th>
                <th>Doctor Name</th>
                <th>Date of Birth</th>
                <th>IIN</th>
                <th>Contact Number</th>
                <th>Department ID</th>
                <th>Specilization ID</th>
                <th>Experience</th>
                <th>Photo</th>
                <th>Category</th>
                <th>Price</th>
                <th>Schedule</th>
                <th>Education</th>
                <th>Rating</th>
                <th>Address</th>
                <th>Photo_2</th>
            </tr>
            {% for result in data %}
            <tr>
                <td>{{result.id}}</td>
                <td>{{result.empname}}</td>
                <td>{{result.dateofbirth}}</td>
                <td>{{result.iin}}</td>
                <td>{{result.contact}}</td>
                <td>{{result.departmentid}}</td>
                <td>{{result.specializationid}}</td>
                <td>{{result.experience}}</td>
                <td>{{result.photo}}</td>
                <td>{{result.category}}</td>
                <td>{{result.price}}</td>
                <td>{{result.schedule}}</td>
                <td>{{result.education}}</td>
                <td>{{result.rating}}</td>
                <td>{{result.address}}</td>

                <td><img src="https://image.shutterstock.com/image-vector/user-icon-vector-260nw-249026119.jpg" width = "150"></td>
                <td><a href="edit/{{result.id}}">Edit</a></td>
                <td><a href="Delete/{{result.id}}" onclick="return confirm('Are you sure that you want to delete it?')">Delete</a></td>

            </tr>
            
            {% endfor %}

        </table>
        <h3>PATIENT TABLE</h3>

        <table border="2">
            <tr>
                <th>Patient ID</th>
                <th>Date of Birth</th>
                <th>IIN</th>
                <th>Full Name</th>
                <th>Blood Group</th>
                <th>Emergency contact number</th>
                <th>Contact Number</th>
                <th>Address</th>
                <th>Martial status</th>
                <th>Registration date</th>
                <th>Photo</th>
                
            </tr>
            {% for result in patdata %}
            <tr>
                <td>{{result.id}}</td>
                <td>{{result.dateofbirth}}</td>
                <td>{{result.iin}}</td>
                <td>{{result.fullname}}</td>
                <td>{{result.bloodgroup}}</td>
                <td>{{result.emergency_number}}</td>

                <td>{{result.contact}}</td>
                <td>{{result.address}}</td>
                <td>{{result.marital}}</td>
                <td>{{result.registration}}</td>
                <td><img src="https://image.shutterstock.com/image-vector/user-icon-vector-260nw-249026119.jpg" width = "150"></td>

                <td><a href="editpatient/{{result.id}}">Edit</a></td>
                <td><a href="DeletePatient/{{result.id}}" onclick="return confirm('Are you sure that you want to delete it?')">Delete</a></td>

            </tr>
            
            {% endfor %}

        </table>
        <p><a href="{% url 'logout' %}">Log Out</a></p>


    </center>
</body>
</html>